* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100%;
    bottom: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.header__logo {
    bottom: 90%;
}

.active {
    border-bottom: 2px solid #569FF5;
}

sub{
    font-size: 75%;
}

.header {
    background-color: white;
    font-size: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #569FF5;
    border-left: 3px solid #569FF5;
    border-right: 3px solid #569FF5;
    line-height: 1.2;
}

main {
    flex: 1;
    padding-bottom:3%;
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

.header__search {
    padding-bottom: 30px;
}

input {
    font-size: 16px;
    padding-left: 5px;
}

.header__menu {
    font-size: 30px;
}

.header__menu:active {
    background-color: #c7c7c7;
}

.header__menu:hover .menu__content {
    display: block;
}

.header__catalog {
    top: 35px;
    font-size: 30px;
}

h2{
 font-size: 2rem;
 font-weight: 500;
 margin-bottom: 0.5rem
}

.header__catalog:hover .catalog-content {
    display: block;
}

.header__name {
    display: flex;
    flex-direction: row;
}

.catalog-content {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.catalog-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}

.menu__content {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu__content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}

.content {
    flex: 1 0 auto;
    font-size: 30px;
    width: 100%;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #d9d8d8;
}

@media (orientation: portrait) {
    .header {
        font-size: 35px;
        display: flex;
    }

    .header__logo {
        display: none;
    }

    .content {
        font-size: 15px;
        display: flex;
    }

    .product-item {
        margin-top: 10%;
        display: flex;
    }

    .header__search {
        width: 20%;
        display: none;
    }

    .menu__content {
        font-size: 15px;
        display: flex;
        margin-left: -10px;
    }

    .header__catalog {
        font-size: 15px;
        top: 2%;
        display: flex;
    }

    footer {
        margin-top: 5%;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: none;
    }
}

@media (max-height: 400px) {
    .header {
        font-size: 35px;
        display: flex;
    }

    .header__logo {
        display: none;
    }

    .content {
        font-size: 15px;
        display: flex;
    }

    .product-item {
        margin-top: 10%;
        display: flex;
    }

    .header__search {
        width: 20%;
        display: none;
    }

    .menu__content {
        font-size: 15px;
        display: flex;
        margin-left: -10px;
    }

    .header__catalog {
        font-size: 15px;
        top: 2%;
        display: flex;
    }

    footer {
        margin-top: 5%;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: none;
    }
}
