
* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logotype {
    position: absolute;
    right: 75%;
    bottom: 90%;
}


.header {
    font-size: 60px;
    padding-left: 25%;
    border-left: 3px solid #569FF5;
    border-right: 3px solid #569FF5;
    width: 100%;
}

.main {
    min-height: 100%;
    flex: 1 0 auto;
}

.search-bar {
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
}

.info-btn {
    position: absolute;
    top: 35px;
    right: 5%;
    font-size: 30px;
}

.info-btn:active {
    background-color: #c7c7c7;
}

.catalog-btn {
    position: absolute;
    top: 35px;
    left: 5%;
    font-size: 30px;
    cursor: pointer;
}

.catalog-btn:hover .catalog-content {
    display: block;
}

.catalog-content {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.catalog-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}


.content {
    flex: 1 0 auto;
    font-size: 30px;
    padding-left: 25%;
    border-bottom: 3px solid #569FF5;
    border-left: 3px solid #569FF5;
    border-right: 3px solid #569FF5;
    width: 100%;
}

.footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

body {
    bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 1600px) {

    .cards {
        margin-top: 10%;
    }

    .header {
        font-size: 35px;
    }

    .logotype {
        display: none;
    }

    .content {
        display: flex;
        font-size: 15px;
    }

    .product-item {
        margin-top: 10%;
    }

    .search-bar {
        top: 50px;
        width: 20%;
        left: 50px;
    }

    .info-btn {
        font-size: 15px;
        top: 2%;
    }

    .catalog-btn {
        font-size: 15px;
        top: 2%;
    }
}

@media (orientation: portrait) {
    .header {
        font-size: 35px;
    }

    .logotype {
        display: none;
    }

    .content {
        display: flex;
        font-size: 15px;
    }

    .product-item {
        margin-top: 10%;
    }

    .search-bar {
        top: 50px;
        width: 20%;
        left: 50px;
    }

    .info-btn {
        font-size: 15px;
        top: 2%;
    }

    .catalog-btn {
        font-size: 15px;
        top: 2%;
    }
}
