* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__logo {
    bottom: 90%;
}

.active {
    border-bottom: 2px solid #569FF5;
}

.page__header {
    font-size: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #569FF5;
    border-left: 3px solid #569FF5;
    border-right: 3px solid #569FF5;
}

.main {
    min-height: 100%;
    flex: 1 0 auto;
    margin-top: 20px; /* Added margin to the top */
}

.header__search {
    padding-bottom: 30px;
}

.header__info {
    top: 35px;
    font-size: 30px;
}

.header__info:active {
    background-color: #c7c7c7;
}

.header__catalog {
    top: 35px;
    font-size: 30px;
    cursor: pointer;
}

.header__catalog:hover .catalog-content {
    display: block;
}

.header__name {
    display: flex;
    flex-direction: row;
}

.catalog-content {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.catalog-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}


.content {
    flex: 1 0 auto;
    font-size: 30px;
    width: 100%;
}

.page__footer {
    text-align: center;
    margin-top: 5%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (orientation: portrait) {
    .page__header {
        font-size: 35px;
        display: flex;
    }

    .header__logo {
        display: none;
    }

    .content {
        font-size: 15px;
        display: flex;
    }

    .product-item {
        margin-top: 10%;
        display: flex;
    }

    .header__search {
        width: 20%;
        display: none;
    }

    .header__info {
        font-size: 15px;
        display: flex;
        margin-left: -10px;
    }

    .header__catalog {
        font-size: 15px;
        top: 2%;
        display: flex;
    }

    .page__footer {
        margin-top: 5%;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: none;
    }
}

@media (max-height: 400px) {
    .page__header {
        font-size: 35px;
        display: flex;
    }

    .header__logo {
        display: none;
    }

    .content {
        font-size: 15px;
        display: flex;
    }

    .product-item {
        margin-top: 10%;
        display: flex;
    }

    .header__search {
        width: 20%;
        display: none;
    }

    .header__info {
        font-size: 15px;
        display: flex;
        margin-left: -10px;
    }

    .header__catalog {
        font-size: 15px;
        top: 2%;
        display: flex;
    }

    .page__footer {
        margin-top: 5%;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: none;
    }
}
